h1{
    @include relative-converter(font-size,rem,$xxx-large,$font_size_base);
    padding: 0;
    margin: 0;
    font-family: $old_standard;
    font-weight: $bold;
}
h2{
    @include relative-converter(font-size,rem,$xx-large,$font_size_base);
    padding: 0;
    margin: 0;
    font-family: $old_standard;
    font-weight: $bold;
}
h3{
    @include relative-converter(font-size,rem,$x-large,$font_size_base);
    padding: 0;
    margin: 0;
    font-family: $old_standard;
    font-weight: $bold;
}

p{
    @include relative-converter(font-size,rem,$large,$font_size_base);
    padding: 0;
    margin: 0;
    font-family: $raleway;
    font-weight: $regular;
}