//Color Scheme
$white: #FFFFFF;
$isabelline: #ECECEC;
$light_gray: #D1D1D1;

$smoky_black: #0C0910;
$granite_gray: #646266;
$quick_silver: #A6A5A8;

//Typography
$old_standard: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;

$regular: 400;
$bold: 700;

$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-samll: 12px;