//Color Scheme
$white: #FFFFFF;
$isabelline: #ECECEC;
$light_gray: #D1D1D1;

$smoky_black: #0C0910;
$granite_gray: #646266;
$quick_silver: #A6A5A8;

//Typography
$old_standard: 'Old Standard TT', serif;
$raleway: 'Raleway', sans-serif;

$regular: 400;
$bold: 700;

//Tamaño sin pixeles para transformacion de mixin
$xxx-large: 50;
$xx-large: 30;
$x-large: 20;
$large: 18;
$medium: 16;
$small: 14;
$x-samll: 12;

//Tamaño base del proyecto
$font_size_base: 16;

//Breakpoints
$breakpoint_sm: 768px;
$breakpoint_md: 992px;
$breakpoint_lg: 1200px;

$container_: 90%;
$container_sm: 750px;
$container_md: 970px;
$container_lg: 1170px;