html, body {
  padding: 0;
  margin: 0;
}

div, header, nav, main, section {
  box-sizing: border-box;
}

h1 {
  font-size: 3.125rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  display: grid;
  grid-template: repeat(12, fr);
}

.col-sm-12 {
  grid-column: span 12;
}

.col-sm-11 {
  grid-column: span 11;
}

.col-sm-10 {
  grid-column: span 10;
}

.col-sm-9 {
  grid-column: span 9;
}

.col-sm-8 {
  grid-column: span 8;
}

.col-sm-7 {
  grid-column: span 7;
}

.col-sm-6 {
  grid-column: span 6;
}

.col-sm-5 {
  grid-column: span 5;
}

.col-sm-4 {
  grid-column: span 4;
}

.col-sm-3 {
  grid-column: span 3;
}

.col-sm-2 {
  grid-column: span 2;
}

.col-sm-1 {
  grid-column: span 1;
}

@media only screen and (min-width: 768px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
@media only screen and (min-width: 1200px) {
  .col-xl-12 {
    grid-column: span 12;
  }

  .col-xl-11 {
    grid-column: span 11;
  }

  .col-xl-10 {
    grid-column: span 10;
  }

  .col-xl-9 {
    grid-column: span 9;
  }

  .col-xl-8 {
    grid-column: span 8;
  }

  .col-xl-7 {
    grid-column: span 7;
  }

  .col-xl-6 {
    grid-column: span 6;
  }

  .col-xl-5 {
    grid-column: span 5;
  }

  .col-xl-4 {
    grid-column: span 4;
  }

  .col-xl-3 {
    grid-column: span 3;
  }

  .col-xl-2 {
    grid-column: span 2;
  }

  .col-xl-1 {
    grid-column: span 1;
  }
}
.navigation {
  position: relative;
}

.navigation__logo {
  width: 100px;
  position: relative;
  padding: 1.5rem 0;
  text-align: center;
  background-color: #0C0910;
}
.navigation__logo span {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-size: 1.875rem;
  color: #FFFFFF;
}

.collapsible {
  text-align: right;
}
.collapsible label {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1.5rem;
  font-size: 1.8rem;
}

#menu {
  display: none;
}

input:checked ~ .navigation__container {
  max-height: 100%;
}

.navigation__container {
  min-height: 0;
  padding: 0;
  overflow: hidden;
}

.navigation__list {
  list-style-type: none;
}

.navigation__item a {
  display: block;
  text-align: left;
  padding: 0.5rem;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #0C0910;
  font-weight: 400;
}
.navigation__item a:hover {
  color: #646266;
}

@media only screen and (min-width: 768px) {
  .collapsible {
    display: none;
  }

  .navigation__container {
    min-height: 100%;
    padding: 0.5rem 3rem 0.5rem 0;
    overflow: visible;
  }

  .navigation__list {
    display: flex;
    justify-content: flex-end;
    padding: inherit;
    margin: inherit;
  }

  .navigation__item a {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
  }
}

/*# sourceMappingURL=main.css.map */
