.navigation {
    position: relative;
}
.navigation__logo {
    width: 80px;
    position: relative;
    padding: 1.3rem 0 1.1rem;
    text-align: center;
    background-color: $smoky_black;
    span{
        font-family: $old_standard;
        font-weight: $bold;
        @include relative-converter(font-size,rem,$x-large,$font_size_base);
        color: $white;
    }
}

.collapsible {
    text-align: right;
    label {
        display: block;
        padding-top: .91rem;
        padding-bottom: .91rem;
        padding-right: 1.5rem;
        font-size: 1.8rem;
        cursor: pointer;
    }
}

#menu{
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

#menu:checked ~ .navigation__container {
    max-height: 100%;
}

.navigation__container {
    max-height: 0;
    padding: 0;
    overflow: hidden;
}

.navigation__list {
    list-style-type: none;
    margin:0;
    padding-left: 0;
    padding-right: 2rem;
}

.navigation__item{
    a {
        display: block;
        text-align: right;
        padding: .8rem;
        font-family: $raleway;
        text-decoration: none;
        color: $smoky_black;
        font-weight: $bold;
        &:hover{
            color: $granite_gray;
        }
    }
}

@media only screen and (min-width: $breakpoint_sm){
    .navigation__logo {
        width: 100px;
        padding: 1.5rem 0 1.3rem;
        span{
            font-family: $old_standard;
            font-weight: $bold;
            @include relative-converter(font-size,rem,$xx-large,$font_size_base);
            color: $white;
        }
    }

    .collapsible {
        display: none;
    }

    .navigation__container {
        min-height: 100%;
        padding: .75rem 1rem .75rem 0;
        overflow: visible;
    }

    .navigation__list {
        display: flex;
        justify-content: flex-end;
        padding: inherit;
        margin: inherit;
    }

    .navigation__item {
        a {
            padding: .5rem 1rem;
            font-size: 1rem;
        }
    }
}